/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
/* Componentes */
/* Fonts */
/* Cores de texto */
/* Cores backround */
/* Effects */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  transition: background 0.5s;
}

.container {
  margin: 20px 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 10px;
  background: #0073a8;
  color: #FFF;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.4);
}
header .logo-nav {
  font-size: 1.5rem;
}
header nav .dark-mode input[type=checkbox] {
  display: none;
}
header nav .dark-mode label {
  font-size: 1.2rem;
  cursor: pointer;
}
header nav .dark-mode label i.bi {
  transition: 0.5s;
}
header nav .dark-mode label i.bi.bi-moon {
  display: none;
}
header nav .dark-mode label i:hover {
  color: #f8f401;
}

body.dark {
  background: #012a31;
  color: #FFF;
}
body.dark header nav .dark-mode label i.bi.bi-sun {
  display: none;
}
body.dark header nav .dark-mode label i.bi.bi-moon {
  display: block;
}
body.dark main section.imc .calculadora .calculadora-imc .calc-texto {
  background-color: #012a31;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.4);
}
body.dark main section.imc .comoInter .table-imc {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
}
body.dark main section.imc .comoInter .table-imc table {
  background: #f1f1f1;
  color: #000;
}
body.dark main section.imc .comoInter .table-imc table tbody tr td {
  border-bottom: 1px solid #838383;
}

body main section.imc h2 {
  position: relative;
  font-family: "Bebas Neue";
  letter-spacing: 0.2px;
  font-size: 1.8rem;
  font-weight: 400;
}
body main section.imc h2::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 100%;
  width: 5px;
  background: #0073a8;
}
body main section.imc p {
  font-size: 1rem;
  margin: 20px 0;
}
body main section.imc .comoInter .table-imc {
  max-width: 500px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
body main section.imc .comoInter .table-imc table {
  border-radius: 5px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
body main section.imc .comoInter .table-imc table tbody tr th {
  font-weight: 700;
  line-height: 2rem;
  background-color: #0073a8;
  color: #FFF;
}
body main section.imc .comoInter .table-imc table tbody tr th sup {
  font-size: 0.7rem;
}
body main section.imc .comoInter .table-imc table tbody tr td {
  border: 0;
  border-bottom: 1px solid #f3f3f3;
  padding: 15px 10px;
}
body main section.imc .calculadora .calculadora-imc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-radius: 2px;
  width: 100%;
}
body main section.imc .calculadora .calculadora-imc .calc-texto, body main section.imc .calculadora .calculadora-imc .calc-dados {
  padding: 2rem;
}
body main section.imc .calculadora .calculadora-imc .calc-texto {
  background-color: #f1f1f1;
}
body main section.imc .calculadora .calculadora-imc .calc-texto h3 {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  font-weight: 500;
}
body main section.imc .calculadora .calculadora-imc .calc-texto .calc-result-t .d-flex-resul {
  display: flex;
  justify-content: space-between;
}
body main section.imc .calculadora .calculadora-imc .calc-texto .calc-result-t .d-flex-resul #imagem {
  height: 90px;
}
body main section.imc .calculadora .calculadora-imc .calc-dados {
  background-color: #0073a8;
}
body main section.imc .calculadora .calculadora-imc .calc-dados h4 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
body main section.imc .calculadora .calculadora-imc .calc-dados .form input {
  background-color: #e7e6e6;
  height: 40px;
  border-radius: 2px;
  margin: 10px 5px;
  padding: 0 10px;
}
body main section.imc .calculadora .calculadora-imc .calc-dados .form button {
  display: block;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #E25416;
  margin: 10px 0;
  transition: 0.4s;
}
body main section.imc .calculadora .calculadora-imc .calc-dados .form button:hover {
  background-color: #cf4b12;
}
body main footer {
  height: 50px;
  text-align: center;
  background-color: #0073a8;
}
body main footer p {
  color: #FFF;
  padding: 15px 0;
}
body main footer a {
  transition: 0.3s;
  color: currentColor;
  cursor: pointer;
}
body main footer a:hover {
  color: #b3b3b3;
}

@media screen and (max-width: 400px) {
  body main section.imc .calculadora .calculadora-imc .calc-texto .calc-result-t .d-flex-resul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  body main section.imc .calculadora .calculadora-imc .calc-dados .form {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
