/* Colors Background */
$background-light: #D95550;
$background-timer: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(31,40,43,1) 45%, rgba(0,0,0,1) 100%);
/* Colors Textos (h1...h6, p...) */
$text-light: #FFF;

/* Colors Efeitos */
$efeito-bottom: rgba(#585858, 0.3);
$efeito-shadow: rgba(#FFF, 0.4);
$efeito-pomo: rgba(#FFF, 0.2);

/* Fonts */
$font-digi: 'DS-DIGI';