@media screen and (max-width: 400px) {
  body {
    main{
      section {
        &.imc{
          .calculadora {
            .calculadora-imc{
              .calc-texto {
                .calc-result-t {
                  .d-flex-resul {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                  }
                }
              }
              .calc-dados {
                .form {
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
  }
}