/* Cores de texto */
$text-dark: #000;
$text-light: #FFF;

/* Cores backround */
$background-light: #fcf5f5;
$background-dark: #00161a;
$background-header-light: #006696;

/* Effects */
$hover-icon: #f8f401;

