/* Fonts */
$font-bebas: 'Bebas Neue';
$font-mont: 'Montserrat';

/* Cores de texto */
$text-dark: #000;
$text-light: #FFF;

/* Cores backround */
$background-light: #f1f1f1;
$background-dark: #00161a;
$background-header-light: #0073a8;

/* Effects */
$hover-icon: #f8f401;
$button: #E25416;
$button-hover: #cf4b12;
$input-form: #e7e6e6;

